APP_NAME=Portfolio API
APP_ENV=development
APP_DEBUG=true

DATABASE_URL=postgresql+psycopg://USER:PASSWORD@HOST:PORT/DATABASE

JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

CORS_ORIGINS=["http://localhost:3000"]