--
-- PostgreSQL database dump
--

\restrict YQ1Q3oWnHa8KMC9AcMa9bxm80lAbX0yDUp87lov6rOrq4nCu3VKjA9qzq2YboeF

-- Dumped from database version 18.6
-- Dumped by pg_dump version 18.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admin_users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.admin_users (
    id bigint NOT NULL,
    email character varying(320) NOT NULL,
    password_hash character varying(255) NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    last_login_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: admin_users_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.admin_users ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.admin_users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


--
-- Name: contact_messages; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.contact_messages (
    id bigint NOT NULL,
    name character varying(160) NOT NULL,
    email character varying(320) NOT NULL,
    subject character varying(200),
    message text NOT NULL,
    status character varying(20) DEFAULT 'NEW'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    read_at timestamp with time zone,
    CONSTRAINT ck_contact_messages_status CHECK (((status)::text = ANY ((ARRAY['NEW'::character varying, 'READ'::character varying, 'ARCHIVED'::character varying])::text[])))
);


--
-- Name: contact_messages_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.contact_messages ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.contact_messages_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: educations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.educations (
    id bigint NOT NULL,
    profile_id bigint NOT NULL,
    organization_id bigint NOT NULL,
    degree character varying(180) NOT NULL,
    field_of_study character varying(180),
    location character varying(160),
    start_date date NOT NULL,
    end_date date,
    description text,
    display_order integer DEFAULT 0 NOT NULL,
    is_visible boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT ck_educations_display_order_non_negative CHECK ((display_order >= 0)),
    CONSTRAINT ck_educations_valid_date_range CHECK (((end_date IS NULL) OR (end_date >= start_date)))
);


--
-- Name: educations_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.educations ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.educations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: experience_highlights; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.experience_highlights (
    id bigint NOT NULL,
    experience_id bigint NOT NULL,
    content text NOT NULL,
    display_order integer DEFAULT 0 NOT NULL,
    is_visible boolean DEFAULT true NOT NULL,
    CONSTRAINT ck_experience_highlights_display_order_non_negative CHECK ((display_order >= 0))
);


--
-- Name: experience_highlights_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.experience_highlights ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.experience_highlights_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: experience_technologies; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.experience_technologies (
    experience_id bigint NOT NULL,
    technology_id bigint NOT NULL,
    display_order integer DEFAULT 0 NOT NULL,
    CONSTRAINT ck_experience_technologies_display_order_non_negative CHECK ((display_order >= 0))
);


--
-- Name: experiences; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.experiences (
    id bigint NOT NULL,
    profile_id bigint NOT NULL,
    organization_id bigint NOT NULL,
    role_title character varying(160) NOT NULL,
    employment_type character varying(60),
    location character varying(160),
    start_date date NOT NULL,
    end_date date,
    summary text,
    display_order integer DEFAULT 0 NOT NULL,
    is_visible boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT ck_experiences_display_order_non_negative CHECK ((display_order >= 0)),
    CONSTRAINT ck_experiences_valid_date_range CHECK (((end_date IS NULL) OR (end_date >= start_date)))
);


--
-- Name: experiences_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.experiences ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.experiences_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: interests; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.interests (
    id bigint NOT NULL,
    profile_id bigint NOT NULL,
    name character varying(120) NOT NULL,
    description text,
    display_order integer DEFAULT 0 NOT NULL,
    is_visible boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT ck_interests_display_order_non_negative CHECK ((display_order >= 0))
);


--
-- Name: interests_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.interests ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.interests_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: languages; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.languages (
    id bigint NOT NULL,
    name character varying(80) NOT NULL,
    iso_code character varying(10) NOT NULL
);


--
-- Name: languages_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.languages ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.languages_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: media_assets; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.media_assets (
    id bigint NOT NULL,
    storage_provider character varying(50) NOT NULL,
    storage_key character varying(500) NOT NULL,
    url text NOT NULL,
    mime_type character varying(100),
    file_size bigint,
    width integer,
    height integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT ck_media_assets_file_size_non_negative CHECK (((file_size IS NULL) OR (file_size >= 0))),
    CONSTRAINT ck_media_assets_height_positive CHECK (((height IS NULL) OR (height > 0))),
    CONSTRAINT ck_media_assets_width_positive CHECK (((width IS NULL) OR (width > 0)))
);


--
-- Name: media_assets_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.media_assets ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.media_assets_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: organizations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.organizations (
    id bigint NOT NULL,
    name character varying(180) NOT NULL,
    slug character varying(180) NOT NULL,
    organization_type character varying(30) NOT NULL,
    website_url text,
    logo_media_id bigint,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT ck_organizations_organization_type CHECK (((organization_type)::text = ANY ((ARRAY['COMPANY'::character varying, 'UNIVERSITY'::character varying, 'SCHOOL'::character varying, 'CLIENT'::character varying, 'OTHER'::character varying])::text[])))
);


--
-- Name: organizations_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.organizations ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.organizations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: proficiency_levels; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.proficiency_levels (
    id bigint NOT NULL,
    code character varying(20) NOT NULL,
    name character varying(80) NOT NULL,
    rank integer NOT NULL,
    CONSTRAINT ck_proficiency_levels_rank_positive CHECK ((rank > 0))
);


--
-- Name: proficiency_levels_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.proficiency_levels ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.proficiency_levels_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: profile_contacts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.profile_contacts (
    id bigint NOT NULL,
    profile_id bigint NOT NULL,
    contact_type character varying(20) NOT NULL,
    label character varying(100),
    value character varying(320) NOT NULL,
    is_primary boolean DEFAULT false NOT NULL,
    display_order integer DEFAULT 0 NOT NULL,
    is_visible boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT ck_profile_contacts_contact_type CHECK (((contact_type)::text = ANY ((ARRAY['EMAIL'::character varying, 'PHONE'::character varying, 'WHATSAPP'::character varying, 'OTHER'::character varying])::text[]))),
    CONSTRAINT ck_profile_contacts_display_order_non_negative CHECK ((display_order >= 0))
);


--
-- Name: profile_contacts_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.profile_contacts ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.profile_contacts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: profile_documents; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.profile_documents (
    id bigint NOT NULL,
    profile_id bigint NOT NULL,
    media_asset_id bigint NOT NULL,
    document_type character varying(30) NOT NULL,
    title character varying(160) NOT NULL,
    version character varying(50),
    is_current boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT ck_profile_documents_document_type CHECK (((document_type)::text = ANY ((ARRAY['CV'::character varying, 'RESUME'::character varying, 'CERTIFICATE'::character varying, 'OTHER'::character varying])::text[])))
);


--
-- Name: profile_documents_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.profile_documents ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.profile_documents_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: profile_languages; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.profile_languages (
    profile_id bigint NOT NULL,
    language_id bigint NOT NULL,
    proficiency_level_id bigint NOT NULL,
    display_order integer DEFAULT 0 NOT NULL,
    CONSTRAINT ck_profile_languages_display_order_non_negative CHECK ((display_order >= 0))
);


--
-- Name: profile_media; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.profile_media (
    id bigint NOT NULL,
    profile_id bigint NOT NULL,
    media_asset_id bigint NOT NULL,
    media_role character varying(30) NOT NULL,
    alt_text character varying(255),
    display_order integer DEFAULT 0 NOT NULL,
    CONSTRAINT ck_profile_media_display_order_non_negative CHECK ((display_order >= 0)),
    CONSTRAINT ck_profile_media_media_role CHECK (((media_role)::text = ANY ((ARRAY['AVATAR'::character varying, 'HERO'::character varying, 'ABOUT'::character varying, 'BACKGROUND'::character varying, 'OTHER'::character varying])::text[])))
);


--
-- Name: profile_media_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.profile_media ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.profile_media_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: profile_technologies; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.profile_technologies (
    profile_id bigint NOT NULL,
    technology_id bigint NOT NULL,
    featured boolean DEFAULT false NOT NULL,
    display_order integer DEFAULT 0 NOT NULL,
    is_visible boolean DEFAULT true NOT NULL,
    CONSTRAINT ck_profile_technologies_display_order_non_negative CHECK ((display_order >= 0))
);


--
-- Name: profiles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.profiles (
    id bigint NOT NULL,
    full_name character varying(160) NOT NULL,
    professional_title character varying(120) NOT NULL,
    headline character varying(255),
    short_bio text,
    about text,
    mission text,
    location character varying(160),
    availability_text character varying(255),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: profiles_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.profiles ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.profiles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: project_categories; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.project_categories (
    id bigint NOT NULL,
    name character varying(120) NOT NULL,
    slug character varying(120) NOT NULL,
    display_order integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT ck_project_categories_display_order_non_negative CHECK ((display_order >= 0))
);


--
-- Name: project_categories_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.project_categories ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.project_categories_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: project_category_relations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.project_category_relations (
    project_id bigint NOT NULL,
    category_id bigint NOT NULL
);


--
-- Name: project_links; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.project_links (
    id bigint NOT NULL,
    project_id bigint NOT NULL,
    link_type character varying(30) NOT NULL,
    label character varying(100) NOT NULL,
    url text NOT NULL,
    display_order integer DEFAULT 0 NOT NULL,
    is_visible boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT ck_project_links_display_order_non_negative CHECK ((display_order >= 0)),
    CONSTRAINT ck_project_links_link_type CHECK (((link_type)::text = ANY ((ARRAY['REPOSITORY'::character varying, 'LIVE_DEMO'::character varying, 'DOCUMENTATION'::character varying, 'CASE_STUDY'::character varying, 'OTHER'::character varying])::text[])))
);


--
-- Name: project_links_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.project_links ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.project_links_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: project_media; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.project_media (
    id bigint NOT NULL,
    project_id bigint NOT NULL,
    media_asset_id bigint NOT NULL,
    media_role character varying(30) NOT NULL,
    alt_text character varying(255),
    caption character varying(500),
    display_order integer DEFAULT 0 NOT NULL,
    is_visible boolean DEFAULT true NOT NULL,
    CONSTRAINT ck_project_media_display_order_non_negative CHECK ((display_order >= 0)),
    CONSTRAINT ck_project_media_media_role CHECK (((media_role)::text = ANY ((ARRAY['COVER'::character varying, 'SCREENSHOT'::character varying, 'GALLERY'::character varying, 'DIAGRAM'::character varying, 'LOGO'::character varying, 'OTHER'::character varying])::text[])))
);


--
-- Name: project_media_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.project_media ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.project_media_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: project_section_items; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.project_section_items (
    id bigint NOT NULL,
    project_section_id bigint NOT NULL,
    content text NOT NULL,
    display_order integer DEFAULT 0 NOT NULL,
    is_visible boolean DEFAULT true NOT NULL,
    CONSTRAINT ck_project_section_items_display_order_non_negative CHECK ((display_order >= 0))
);


--
-- Name: project_section_items_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.project_section_items ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.project_section_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: project_sections; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.project_sections (
    id bigint NOT NULL,
    project_id bigint NOT NULL,
    section_type character varying(30) NOT NULL,
    title character varying(160) NOT NULL,
    body text,
    display_order integer DEFAULT 0 NOT NULL,
    is_visible boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT ck_project_sections_display_order_non_negative CHECK ((display_order >= 0)),
    CONSTRAINT ck_project_sections_section_type CHECK (((section_type)::text = ANY ((ARRAY['OVERVIEW'::character varying, 'PROBLEM'::character varying, 'RESPONSIBILITIES'::character varying, 'SOLUTION'::character varying, 'ARCHITECTURE'::character varying, 'CHALLENGES'::character varying, 'RESULTS'::character varying, 'LEARNINGS'::character varying, 'CUSTOM'::character varying])::text[])))
);


--
-- Name: project_sections_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.project_sections ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.project_sections_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: project_technologies; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.project_technologies (
    project_id bigint NOT NULL,
    technology_id bigint NOT NULL,
    display_order integer DEFAULT 0 NOT NULL,
    CONSTRAINT ck_project_technologies_display_order_non_negative CHECK ((display_order >= 0))
);


--
-- Name: projects; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.projects (
    id bigint NOT NULL,
    profile_id bigint NOT NULL,
    organization_id bigint,
    title character varying(180) NOT NULL,
    slug character varying(180) NOT NULL,
    short_description character varying(500),
    overview text,
    role_summary text,
    start_date date,
    end_date date,
    status character varying(20) DEFAULT 'DRAFT'::character varying NOT NULL,
    featured boolean DEFAULT false NOT NULL,
    display_order integer DEFAULT 0 NOT NULL,
    published_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT ck_projects_display_order_non_negative CHECK ((display_order >= 0)),
    CONSTRAINT ck_projects_status CHECK (((status)::text = ANY ((ARRAY['DRAFT'::character varying, 'PUBLISHED'::character varying, 'ARCHIVED'::character varying])::text[]))),
    CONSTRAINT ck_projects_valid_date_range CHECK (((end_date IS NULL) OR (start_date IS NULL) OR (end_date >= start_date)))
);


--
-- Name: projects_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.projects ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.projects_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: social_links; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.social_links (
    id bigint NOT NULL,
    profile_id bigint NOT NULL,
    platform character varying(60) NOT NULL,
    label character varying(100),
    url text NOT NULL,
    display_order integer DEFAULT 0 NOT NULL,
    is_visible boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT ck_social_links_display_order_non_negative CHECK ((display_order >= 0))
);


--
-- Name: social_links_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.social_links ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.social_links_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: strengths; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.strengths (
    id bigint NOT NULL,
    profile_id bigint NOT NULL,
    title character varying(120) NOT NULL,
    description text,
    display_order integer DEFAULT 0 NOT NULL,
    is_visible boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT ck_strengths_display_order_non_negative CHECK ((display_order >= 0))
);


--
-- Name: strengths_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.strengths ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.strengths_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: technologies; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.technologies (
    id bigint NOT NULL,
    technology_category_id bigint NOT NULL,
    name character varying(120) NOT NULL,
    slug character varying(120) NOT NULL,
    official_url text,
    icon_media_id bigint,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: technologies_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.technologies ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.technologies_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: technology_categories; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.technology_categories (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    slug character varying(100) NOT NULL,
    display_order integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT ck_technology_categories_display_order_non_negative CHECK ((display_order >= 0))
);


--
-- Name: technology_categories_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.technology_categories ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.technology_categories_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: admin_users pk_admin_users; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT pk_admin_users PRIMARY KEY (id);


--
-- Name: contact_messages pk_contact_messages; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.contact_messages
    ADD CONSTRAINT pk_contact_messages PRIMARY KEY (id);


--
-- Name: educations pk_educations; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.educations
    ADD CONSTRAINT pk_educations PRIMARY KEY (id);


--
-- Name: experience_highlights pk_experience_highlights; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.experience_highlights
    ADD CONSTRAINT pk_experience_highlights PRIMARY KEY (id);


--
-- Name: experience_technologies pk_experience_technologies; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.experience_technologies
    ADD CONSTRAINT pk_experience_technologies PRIMARY KEY (experience_id, technology_id);


--
-- Name: experiences pk_experiences; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.experiences
    ADD CONSTRAINT pk_experiences PRIMARY KEY (id);


--
-- Name: interests pk_interests; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.interests
    ADD CONSTRAINT pk_interests PRIMARY KEY (id);


--
-- Name: languages pk_languages; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.languages
    ADD CONSTRAINT pk_languages PRIMARY KEY (id);


--
-- Name: media_assets pk_media_assets; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.media_assets
    ADD CONSTRAINT pk_media_assets PRIMARY KEY (id);


--
-- Name: organizations pk_organizations; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT pk_organizations PRIMARY KEY (id);


--
-- Name: proficiency_levels pk_proficiency_levels; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.proficiency_levels
    ADD CONSTRAINT pk_proficiency_levels PRIMARY KEY (id);


--
-- Name: profile_contacts pk_profile_contacts; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profile_contacts
    ADD CONSTRAINT pk_profile_contacts PRIMARY KEY (id);


--
-- Name: profile_documents pk_profile_documents; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profile_documents
    ADD CONSTRAINT pk_profile_documents PRIMARY KEY (id);


--
-- Name: profile_languages pk_profile_languages; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profile_languages
    ADD CONSTRAINT pk_profile_languages PRIMARY KEY (profile_id, language_id);


--
-- Name: profile_media pk_profile_media; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profile_media
    ADD CONSTRAINT pk_profile_media PRIMARY KEY (id);


--
-- Name: profile_technologies pk_profile_technologies; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profile_technologies
    ADD CONSTRAINT pk_profile_technologies PRIMARY KEY (profile_id, technology_id);


--
-- Name: profiles pk_profiles; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT pk_profiles PRIMARY KEY (id);


--
-- Name: project_categories pk_project_categories; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.project_categories
    ADD CONSTRAINT pk_project_categories PRIMARY KEY (id);


--
-- Name: project_category_relations pk_project_category_relations; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.project_category_relations
    ADD CONSTRAINT pk_project_category_relations PRIMARY KEY (project_id, category_id);


--
-- Name: project_links pk_project_links; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.project_links
    ADD CONSTRAINT pk_project_links PRIMARY KEY (id);


--
-- Name: project_media pk_project_media; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.project_media
    ADD CONSTRAINT pk_project_media PRIMARY KEY (id);


--
-- Name: project_section_items pk_project_section_items; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.project_section_items
    ADD CONSTRAINT pk_project_section_items PRIMARY KEY (id);


--
-- Name: project_sections pk_project_sections; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.project_sections
    ADD CONSTRAINT pk_project_sections PRIMARY KEY (id);


--
-- Name: project_technologies pk_project_technologies; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.project_technologies
    ADD CONSTRAINT pk_project_technologies PRIMARY KEY (project_id, technology_id);


--
-- Name: projects pk_projects; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT pk_projects PRIMARY KEY (id);


--
-- Name: social_links pk_social_links; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.social_links
    ADD CONSTRAINT pk_social_links PRIMARY KEY (id);


--
-- Name: strengths pk_strengths; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.strengths
    ADD CONSTRAINT pk_strengths PRIMARY KEY (id);


--
-- Name: technologies pk_technologies; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.technologies
    ADD CONSTRAINT pk_technologies PRIMARY KEY (id);


--
-- Name: technology_categories pk_technology_categories; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.technology_categories
    ADD CONSTRAINT pk_technology_categories PRIMARY KEY (id);


--
-- Name: profile_contacts profile_contact; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profile_contacts
    ADD CONSTRAINT profile_contact UNIQUE (profile_id, contact_type, value);


--
-- Name: profile_documents profile_document_asset; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profile_documents
    ADD CONSTRAINT profile_document_asset UNIQUE (profile_id, media_asset_id);


--
-- Name: profile_media profile_media_asset; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profile_media
    ADD CONSTRAINT profile_media_asset UNIQUE (profile_id, media_asset_id);


--
-- Name: social_links profile_url; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.social_links
    ADD CONSTRAINT profile_url UNIQUE (profile_id, url);


--
-- Name: project_media project_media_asset; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.project_media
    ADD CONSTRAINT project_media_asset UNIQUE (project_id, media_asset_id);


--
-- Name: project_links project_url; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.project_links
    ADD CONSTRAINT project_url UNIQUE (project_id, url);


--
-- Name: media_assets storage_provider_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.media_assets
    ADD CONSTRAINT storage_provider_key UNIQUE (storage_provider, storage_key);


--
-- Name: languages uq_languages_iso_code; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.languages
    ADD CONSTRAINT uq_languages_iso_code UNIQUE (iso_code);


--
-- Name: languages uq_languages_name; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.languages
    ADD CONSTRAINT uq_languages_name UNIQUE (name);


--
-- Name: proficiency_levels uq_proficiency_levels_code; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.proficiency_levels
    ADD CONSTRAINT uq_proficiency_levels_code UNIQUE (code);


--
-- Name: proficiency_levels uq_proficiency_levels_rank; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.proficiency_levels
    ADD CONSTRAINT uq_proficiency_levels_rank UNIQUE (rank);


--
-- Name: project_categories uq_project_categories_name; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.project_categories
    ADD CONSTRAINT uq_project_categories_name UNIQUE (name);


--
-- Name: project_categories uq_project_categories_slug; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.project_categories
    ADD CONSTRAINT uq_project_categories_slug UNIQUE (slug);


--
-- Name: technologies uq_technologies_name; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.technologies
    ADD CONSTRAINT uq_technologies_name UNIQUE (name);


--
-- Name: technologies uq_technologies_slug; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.technologies
    ADD CONSTRAINT uq_technologies_slug UNIQUE (slug);


--
-- Name: technology_categories uq_technology_categories_name; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.technology_categories
    ADD CONSTRAINT uq_technology_categories_name UNIQUE (name);


--
-- Name: technology_categories uq_technology_categories_slug; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.technology_categories
    ADD CONSTRAINT uq_technology_categories_slug UNIQUE (slug);


--
-- Name: ix_admin_users_email; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_admin_users_email ON public.admin_users USING btree (email);


--
-- Name: ix_contact_messages_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_contact_messages_created_at ON public.contact_messages USING btree (created_at);


--
-- Name: ix_contact_messages_email; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_contact_messages_email ON public.contact_messages USING btree (email);


--
-- Name: ix_contact_messages_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_contact_messages_status ON public.contact_messages USING btree (status);


--
-- Name: ix_educations_organization_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_educations_organization_id ON public.educations USING btree (organization_id);


--
-- Name: ix_educations_profile_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_educations_profile_id ON public.educations USING btree (profile_id);


--
-- Name: ix_experience_highlights_experience_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_experience_highlights_experience_id ON public.experience_highlights USING btree (experience_id);


--
-- Name: ix_experiences_organization_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_experiences_organization_id ON public.experiences USING btree (organization_id);


--
-- Name: ix_experiences_profile_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_experiences_profile_id ON public.experiences USING btree (profile_id);


--
-- Name: ix_interests_profile_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_interests_profile_id ON public.interests USING btree (profile_id);


--
-- Name: ix_organizations_slug; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_organizations_slug ON public.organizations USING btree (slug);


--
-- Name: ix_profile_contacts_profile_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_profile_contacts_profile_id ON public.profile_contacts USING btree (profile_id);


--
-- Name: ix_profile_documents_media_asset_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_profile_documents_media_asset_id ON public.profile_documents USING btree (media_asset_id);


--
-- Name: ix_profile_documents_profile_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_profile_documents_profile_id ON public.profile_documents USING btree (profile_id);


--
-- Name: ix_profile_languages_proficiency_level_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_profile_languages_proficiency_level_id ON public.profile_languages USING btree (proficiency_level_id);


--
-- Name: ix_profile_media_media_asset_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_profile_media_media_asset_id ON public.profile_media USING btree (media_asset_id);


--
-- Name: ix_profile_media_profile_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_profile_media_profile_id ON public.profile_media USING btree (profile_id);


--
-- Name: ix_project_links_project_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_project_links_project_id ON public.project_links USING btree (project_id);


--
-- Name: ix_project_media_media_asset_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_project_media_media_asset_id ON public.project_media USING btree (media_asset_id);


--
-- Name: ix_project_media_project_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_project_media_project_id ON public.project_media USING btree (project_id);


--
-- Name: ix_project_section_items_project_section_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_project_section_items_project_section_id ON public.project_section_items USING btree (project_section_id);


--
-- Name: ix_project_sections_project_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_project_sections_project_id ON public.project_sections USING btree (project_id);


--
-- Name: ix_projects_organization_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_projects_organization_id ON public.projects USING btree (organization_id);


--
-- Name: ix_projects_profile_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_projects_profile_id ON public.projects USING btree (profile_id);


--
-- Name: ix_projects_slug; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_projects_slug ON public.projects USING btree (slug);


--
-- Name: ix_social_links_profile_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_social_links_profile_id ON public.social_links USING btree (profile_id);


--
-- Name: ix_strengths_profile_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_strengths_profile_id ON public.strengths USING btree (profile_id);


--
-- Name: ix_technologies_icon_media_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_technologies_icon_media_id ON public.technologies USING btree (icon_media_id);


--
-- Name: ix_technologies_technology_category_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_technologies_technology_category_id ON public.technologies USING btree (technology_category_id);


--
-- Name: uq_profile_contacts_primary_type; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uq_profile_contacts_primary_type ON public.profile_contacts USING btree (profile_id, contact_type) WHERE (is_primary = true);


--
-- Name: uq_profile_documents_current_type; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uq_profile_documents_current_type ON public.profile_documents USING btree (profile_id, document_type) WHERE (is_current = true);


--
-- Name: educations fk_educations_organization_id_organizations; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.educations
    ADD CONSTRAINT fk_educations_organization_id_organizations FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE RESTRICT;


--
-- Name: educations fk_educations_profile_id_profiles; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.educations
    ADD CONSTRAINT fk_educations_profile_id_profiles FOREIGN KEY (profile_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: experience_highlights fk_experience_highlights_experience_id_experiences; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.experience_highlights
    ADD CONSTRAINT fk_experience_highlights_experience_id_experiences FOREIGN KEY (experience_id) REFERENCES public.experiences(id) ON DELETE CASCADE;


--
-- Name: experience_technologies fk_experience_technologies_experience_id_experiences; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.experience_technologies
    ADD CONSTRAINT fk_experience_technologies_experience_id_experiences FOREIGN KEY (experience_id) REFERENCES public.experiences(id) ON DELETE CASCADE;


--
-- Name: experience_technologies fk_experience_technologies_technology_id_technologies; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.experience_technologies
    ADD CONSTRAINT fk_experience_technologies_technology_id_technologies FOREIGN KEY (technology_id) REFERENCES public.technologies(id) ON DELETE CASCADE;


--
-- Name: experiences fk_experiences_organization_id_organizations; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.experiences
    ADD CONSTRAINT fk_experiences_organization_id_organizations FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE RESTRICT;


--
-- Name: experiences fk_experiences_profile_id_profiles; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.experiences
    ADD CONSTRAINT fk_experiences_profile_id_profiles FOREIGN KEY (profile_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: interests fk_interests_profile_id_profiles; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.interests
    ADD CONSTRAINT fk_interests_profile_id_profiles FOREIGN KEY (profile_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: organizations fk_organizations_logo_media_id_media_assets; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT fk_organizations_logo_media_id_media_assets FOREIGN KEY (logo_media_id) REFERENCES public.media_assets(id) ON DELETE SET NULL;


--
-- Name: profile_contacts fk_profile_contacts_profile_id_profiles; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profile_contacts
    ADD CONSTRAINT fk_profile_contacts_profile_id_profiles FOREIGN KEY (profile_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: profile_documents fk_profile_documents_media_asset_id_media_assets; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profile_documents
    ADD CONSTRAINT fk_profile_documents_media_asset_id_media_assets FOREIGN KEY (media_asset_id) REFERENCES public.media_assets(id) ON DELETE CASCADE;


--
-- Name: profile_documents fk_profile_documents_profile_id_profiles; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profile_documents
    ADD CONSTRAINT fk_profile_documents_profile_id_profiles FOREIGN KEY (profile_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: profile_languages fk_profile_languages_language_id_languages; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profile_languages
    ADD CONSTRAINT fk_profile_languages_language_id_languages FOREIGN KEY (language_id) REFERENCES public.languages(id) ON DELETE RESTRICT;


--
-- Name: profile_languages fk_profile_languages_proficiency_level_id_proficiency_levels; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profile_languages
    ADD CONSTRAINT fk_profile_languages_proficiency_level_id_proficiency_levels FOREIGN KEY (proficiency_level_id) REFERENCES public.proficiency_levels(id) ON DELETE RESTRICT;


--
-- Name: profile_languages fk_profile_languages_profile_id_profiles; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profile_languages
    ADD CONSTRAINT fk_profile_languages_profile_id_profiles FOREIGN KEY (profile_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: profile_media fk_profile_media_media_asset_id_media_assets; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profile_media
    ADD CONSTRAINT fk_profile_media_media_asset_id_media_assets FOREIGN KEY (media_asset_id) REFERENCES public.media_assets(id) ON DELETE CASCADE;


--
-- Name: profile_media fk_profile_media_profile_id_profiles; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profile_media
    ADD CONSTRAINT fk_profile_media_profile_id_profiles FOREIGN KEY (profile_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: profile_technologies fk_profile_technologies_profile_id_profiles; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profile_technologies
    ADD CONSTRAINT fk_profile_technologies_profile_id_profiles FOREIGN KEY (profile_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: profile_technologies fk_profile_technologies_technology_id_technologies; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profile_technologies
    ADD CONSTRAINT fk_profile_technologies_technology_id_technologies FOREIGN KEY (technology_id) REFERENCES public.technologies(id) ON DELETE CASCADE;


--
-- Name: project_category_relations fk_project_category_relations_category_id_project_categories; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.project_category_relations
    ADD CONSTRAINT fk_project_category_relations_category_id_project_categories FOREIGN KEY (category_id) REFERENCES public.project_categories(id) ON DELETE CASCADE;


--
-- Name: project_category_relations fk_project_category_relations_project_id_projects; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.project_category_relations
    ADD CONSTRAINT fk_project_category_relations_project_id_projects FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: project_links fk_project_links_project_id_projects; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.project_links
    ADD CONSTRAINT fk_project_links_project_id_projects FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: project_media fk_project_media_media_asset_id_media_assets; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.project_media
    ADD CONSTRAINT fk_project_media_media_asset_id_media_assets FOREIGN KEY (media_asset_id) REFERENCES public.media_assets(id) ON DELETE CASCADE;


--
-- Name: project_media fk_project_media_project_id_projects; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.project_media
    ADD CONSTRAINT fk_project_media_project_id_projects FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: project_section_items fk_project_section_items_project_section_id_project_sections; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.project_section_items
    ADD CONSTRAINT fk_project_section_items_project_section_id_project_sections FOREIGN KEY (project_section_id) REFERENCES public.project_sections(id) ON DELETE CASCADE;


--
-- Name: project_sections fk_project_sections_project_id_projects; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.project_sections
    ADD CONSTRAINT fk_project_sections_project_id_projects FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: project_technologies fk_project_technologies_project_id_projects; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.project_technologies
    ADD CONSTRAINT fk_project_technologies_project_id_projects FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: project_technologies fk_project_technologies_technology_id_technologies; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.project_technologies
    ADD CONSTRAINT fk_project_technologies_technology_id_technologies FOREIGN KEY (technology_id) REFERENCES public.technologies(id) ON DELETE CASCADE;


--
-- Name: projects fk_projects_organization_id_organizations; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT fk_projects_organization_id_organizations FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE SET NULL;


--
-- Name: projects fk_projects_profile_id_profiles; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT fk_projects_profile_id_profiles FOREIGN KEY (profile_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: social_links fk_social_links_profile_id_profiles; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.social_links
    ADD CONSTRAINT fk_social_links_profile_id_profiles FOREIGN KEY (profile_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: strengths fk_strengths_profile_id_profiles; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.strengths
    ADD CONSTRAINT fk_strengths_profile_id_profiles FOREIGN KEY (profile_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: technologies fk_technologies_icon_media_id_media_assets; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.technologies
    ADD CONSTRAINT fk_technologies_icon_media_id_media_assets FOREIGN KEY (icon_media_id) REFERENCES public.media_assets(id) ON DELETE SET NULL;


--
-- Name: technologies fk_technologies_technology_category_id_technology_categories; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.technologies
    ADD CONSTRAINT fk_technologies_technology_category_id_technology_categories FOREIGN KEY (technology_category_id) REFERENCES public.technology_categories(id) ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict YQ1Q3oWnHa8KMC9AcMa9bxm80lAbX0yDUp87lov6rOrq4nCu3VKjA9qzq2YboeF

